<div class="panel panel-default">
    <div class="panel-body text-center">
        请 <a href="/login" class="btn btn-success btn-xs">登录</a> 后进行发帖/回复，如果没有账号请 <a href="/register" class="btn btn-danger btn-xs">注册</a> 一起来玩吧！
    </div>
</div>