<!doctype html>
<html>
<head>
    <title>handlebars</title>
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
{{{body}}}
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>