{{#section 'head'}}
    <link rel="stylesheet" href="/styles/detail.css"/>
{{/section}}
{{#section 'js'}}
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    })
{{/section}}
<div class="container container-detail">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><a href="javascript:;">javascript</a></li>
                <li class="active">主题</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title topic-title">JSpapa收藏助手 · 轻轻一点，papa收藏^-^！</h3>
                    <small class="panel-small topic-small">发布于 2016/10/27 15:15   196浏览   3回复</small>
                </div>
                <div class="panel-body">
                    <p>
                        JSpapa收藏助手 发布了！

                        技术宅需要经常浏览各个技术网站，查找资料，但是，你肯定想轻松把这些内容都收藏起来以便日后查看！

                        JSpapa收藏助手 解决你的问题！使用简单，绿色无污染！赶快来体验吧！

                        使用方法
                        1. 按住右侧边栏的 【收藏到JSpapa】按钮 并把它拖到书签栏 --->最右边

                        找不到书签栏？请使用快捷键Ctrl+Shift+B或者按照图示打开：
                    </p>
                </div>
                <div class="panel-footer text-right">
                    <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="tooltip" data-original-title="回复">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span><span>回复</span></h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="javascript:;">
                                    <img src="img/photo.gif" width="30" height="30">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5  class="media-heading">
                                    <a href="javascript:;">zhengchj1023</a>
                                    <span>2016/9/28 14:55</span>
                                    <div class="pull-right">
                                        <span>1 楼</span>
                                        <a href="javascript:;" data-toggle="tooltip" data-original-title="回复">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </a>

                                    </div>
                                </h5>
                                <div class="content">
                                    <p>
                                        标题：收藏到JSpapa 内容： javascript:JSpapaEle=document.createElement("script");JSpapaEle.setAttribute("src","http://jspapa.com/js/web-collect.js?v="+Date.now());document.body.appendChild(JSpapaEle);

                                        然后保存。

                                        2 浏览网页的时候，如果觉得内容不错想保存起来，就点书签->收藏到JSpapa，就会弹出收藏页面，没问题就点保存即可！！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <li class="media">
                            <div class="media-left">
                                <a href="javascript:;">
                                    <img src="img/photo.gif" width="30" height="30">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5  class="media-heading">
                                    <a href="javascript:;">zhengchj1023</a>
                                    <span>2016/9/28 14:55</span>
                                    <div class="pull-right">
                                        <span>2 楼</span>
                                        <a href="javascript:;" data-toggle="tooltip" data-original-title="回复">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </a>

                                    </div>
                                </h5>
                                <div class="content">
                                    <p>
                                        标题：收藏到JSpapa 内容： javascript:JSpapaEle=document.createElement("script");JSpapaEle.setAttribute("src","http://jspapa.com/js/web-collect.js?v="+Date.now());document.body.appendChild(JSpapaEle);

                                        然后保存。

                                        2 浏览网页的时候，如果觉得内容不错想保存起来，就点书签->收藏到JSpapa，就会弹出收藏页面，没问题就点保存即可！！
                                    </p>
                                </div>
                            </div>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span><span>添加新回复</span></h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <textarea  class="form-control" placeholder="请输入内容..." rows="10"></textarea>
                        </div>
                        <a href="javascript:;" class="btn btn-primary pull-right">提交</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{> mod-personal-info}}
            {{> mod-add-topic}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">作者其他话题</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="javascript:;">如何学习React</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">如何学习React</a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">如何学习React</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>