{{#section 'head'}}
    <link rel="stylesheet" href="/styles/index.css"/>
{{/section}}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">全部</li>
            </ol>
            {{#unless user}}
            {{> mod-login-tip}}
            {{/unless}}
            <div class="panel panel-default">
                <ul class="list-group topic-list">
                    <li class="list-group-item clearfix">
                        <a href="javascript:;" class="pull-left img-wrapper">
                            <img src="/img/photo.gif" width="30" height="30">
                        </a>
                        <div class="pull-left category-wrapper">
                            <a href="javascript:;" class="btn btn-default btn-xs">HTML/CSS</a>
                        </div>
                        <div class="pull-left">
                            <a href="javascript:;">
                                嘿！在JSpapa混你需要知道的几个技巧！
                            </a>
                        </div>
                        <div class="pull-right">
                            <span class="label label-info">100浏览 0回复</span>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="javascript:;" class="pull-left img-wrapper">
                            <img src="/img/photo.gif" width="30" height="30">
                        </a>
                        <div class="pull-left category-wrapper">
                            <a href="javascript:;" class="btn btn-default btn-xs">HTML/CSS</a>
                        </div>
                        <div class="pull-left">
                            <a href="javascript:;">
                                嘿！在JSpapa混你需要知道的几个技巧！
                            </a>
                        </div>
                        <div class="pull-right">
                            <span class="label label-info">100浏览 0回复</span>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="javascript:;" class="pull-left img-wrapper">
                            <img src="/img/photo.gif" width="30" height="30">
                        </a>
                        <div class="pull-left category-wrapper">
                            <a href="javascript:;" class="btn btn-default btn-xs">HTML/CSS</a>
                        </div>
                        <div class="pull-left">
                            <a href="javascript:;">
                                嘿！在JSpapa混你需要知道的几个技巧！
                            </a>
                        </div>
                        <div class="pull-right">
                            <span class="label label-info">100浏览 0回复</span>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="javascript:;" class="pull-left img-wrapper">
                            <img src="/img/photo.gif" width="30" height="30">
                        </a>
                        <div class="pull-left category-wrapper">
                            <a href="javascript:;" class="btn btn-default btn-xs">HTML/CSS</a>
                        </div>
                        <div class="pull-left">
                            <a href="javascript:;">
                                嘿！在JSpapa混你需要知道的几个技巧！
                            </a>
                        </div>
                        <div class="pull-right">
                            <span class="label label-info">100浏览 0回复</span>
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="javascript:;" class="pull-left img-wrapper">
                            <img src="/img/photo.gif" width="30" height="30">
                        </a>
                        <div class="pull-left category-wrapper">
                            <a href="javascript:;" class="btn btn-default btn-xs">HTML/CSS</a>
                        </div>
                        <div class="pull-left">
                            <a href="javascript:;">
                                嘿！在JSpapa混你需要知道的几个技巧！
                            </a>
                        </div>
                        <div class="pull-right">
                            <span class="label label-info">100浏览 0回复</span>
                        </div>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3">
            {{> mod-personal-info}}
            {{> mod-introduction}}
            {{> mod-add-topic}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">统计信息</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">社区会员: 77 人</li>
                    <li class="list-group-item">帖子数: 286 个</li>
                    <li class="list-group-item">回帖数: 154 条</li>
                </ul>
            </div>
        </div>
    </div>
</div>
