<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">注册成功</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> 恭喜您成功注册为本站会员，现在你可以 </span>
                        <a class="btn btn-danger" href="/login">登录</a>
                        <span> 并参与社区讨论和分享了^。^</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{> mod-introduction}}
        </div>
    </div>
</div>